.cms-classify .banner{
		    background:#f3f5f5;
			width:354px;
			height:354px;
		}
		.cms-classify .name{
			font-size:30px;
			color:#333333;
			letter-spacing:0;
			line-height:44px;
			text-align:left;
			width:320px;
			height:41px;
			margin-top:20px;
			margin-left:30px;
			margin-right:18px;
		}
		.cms-classify .description{
			font-size:24px;
			color:#999999;
			letter-spacing:0;
			line-height:40px;	
			width:320px;
			height:80px;
			margin-top:16px;
			margin-left:30px;
			margin-right:18px;
		}
		.cms-classify .label{
			font-size:26px;
			color:#ad0e11;
			letter-spacing:0;
			line-height:26px;		
			display:inline-block;	
			width:16px;
			height:26px;
			margin-top:38px;
			margin-left:30px;			
		}
		.cms-classify .price{
			font-size:34px;
			color:#ad0e11;
			letter-spacing:0;	
			line-height:34px;
			text-align:left;
			display:inline-block;
			width:63px;
			height:34px;
			margin-top:-16px;
		}
		.cms-classify .cart{
			background: url(https://imgcms.yit.com/cmsres/20170504/06f7898d-ac9f-4ec3-b7b7-f03f14a1e8d7.png);
            width: 60px;
            height: 60px;
            border-radius: 100%;
            float: right;
            margin-top: 20px;
		}
		.cms-classify .more{
            font-size:28px;
            color:#9b9b9b;
            letter-spacing:-1px;
            text-align:center;
		}
	    .cms-classify  li{
			float:left;
			background: #fff;
		}
		.cms-classify .mask-pa{
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          background: rgba(0,0,0,0.4);
        }
        .cms-classify .more1{
          font-size: 28px;
          color: #9b9b9b;
          text-align: center;
          padding-top: 10px;
          height: 138px;
            
        }
         .cms-classify .more1 span{
          display: inline-block;
          height: 37px;
          vertical-align: top;
          margin-top: 50px;
          margin-bottom: 45px;
         }
         .cms-classify .more-icon{
           border: 1px solid #979797;
           width: 37px;
           height: 38px;
           border-radius: 100%;
           -webkit-border-radius: 100%;
           margin-left: 40px;
           margin-top: -4px;
         }
         .cms-classify .more-icon:after {
            content: " ";
            transform: translate(-5px, 9px) rotate(45deg);
            -webkit-transform: translate(-5px, 9px) rotate(45deg);
            border-top: 1px solid #9b9b9b;
            border-right: 1px solid #9b9b9b;
            width: 15px;
            height: 15px;
            display: inline-block;
         }