.cms-all{
     background: #fff;
     margin-bottom: 30px;
}
.cms-other .title{
		 font-size: 32px;
        color: #333;
        line-height: 92px;
        height: 92px;
        text-align: center;
        width: 100%;
        background: #fff;
		}
	
        .cms-other .banner{
		    background:#f3f5f5;
			width:750px;
			height:420px;
			margin-bottom: 30px;
		}