.cms-two{
	width:750px;
    padding-left:14px;
    padding-bottom:40px;
    background: #fff;
    margin-bottom: 30px;
}
/*.cms-two .sell-goodsl1::before {*/
/*    content: " ";*/
/*    background: #ad0e11;*/
/*    width: 33px;*/
/*    height: 3px;*/
/*    display: inline-block;*/
/*    vertical-align: middle;*/
/*    margin-right: 16px;*/
/*}*/
/*.cms-two .sell-goodsl1::after {*/
/*    content: " ";*/
/*    background: #ad0e11;*/
/*    width: 33px;*/
/*    height: 3px;*/
/*    display: inline-block;*/
/*    vertical-align: middle;*/
/*    margin-left: 16px;*/
/*}*/
.cms-two .sell-goodsl1{
    font-size: 32px;
    color: #333333;
    display: inline-block;
    width: 100%;
    text-align: center;
    height:92px;
    line-height:92px;
    padding-right:14px;
}
.cms-two ul{
	list-style: none;
	overflow: hidden;
}
.cms-two li{
	float:left;
	margin-right:14px;
	margin-bottom:30px;
	width:354px;
	box-sizing:content-box;
}
.cms-two .title{
	font-size:32px;
	color:#333333;
	text-align:center;
	line-height: 92px;
	height: 92px;
	text-align: center;
	padding-right: 10px;
	width:100%;
}
.cms-two img{
	width:354px;
	height: 354px;
}
.cms-two .name{
    font-size: 26px;
    color: #333333;
    line-height: 26px;
    text-align: left;
    margin: 0px 14px;
    width: 320px;
    margin-bottom: 8px;
    height: 26px;
}
.cms-two .subname{
    font-size: 24px;
    color: #999999;
    letter-spacing: 0;
    line-height: 32px;
    height: 64px;
    text-align: left;
    margin: 12px 16px 10px;
    width: 320px;
}
.cms-two .rprice{
	font-size:24px;
	color:#ad0e11;
	letter-spacing:0;
	line-height:26px;
	text-align:left;
	margin-left:17px;
	height:34px;
}
.cms-two .rprice span{
	font-size: 30px;
	display: inline-block;
	margin-left: 4px;
}
.cms-two em{
	font-size:26px;
	color:#ad0e11;
	line-height:26px;
}
.cms-two .more1{
	font-size:28px;
	color:#ad0e11;
	text-align:center;
	height:40px;
	line-height:40px;
}
.cms-two .more1 span{
	display: inline-block;
    height: 37px;
    vertical-align: top;
}
.cms-two .more-icon{
	border:1px solid #ad0e11;
	width:37px;
	height:38px;
	border-radius:100%;
	margin-left:20px;
	
}
.cms-two .more-icon:after{
	content: " ";
	transform:translate(-5px, 9px) rotate(45deg);
	-webkit-transform:translate(-5px, 9px) rotate(45deg);
	border-top:1px solid #ad0e11;
	border-right:1px solid #ad0e11;
	width:15px;
	height:15px;
	display: inline-block;
}
.cms-two .origin{
    margin-left: 12px;
    display:inline-block;
    text-decoration: line-through;
    opacity: 0.99;
    font-size: 24px;
    color: #cccccc;
    letter-spacing: 0;
    line-height: 34px;
    text-align: left;
}
.cms-two .origin .oprice{
     font-size: 24px; 
     display: inline-block; 
     margin-left: 0px; 
    text-decoration: line-through;
}
.cms-label{
    margin: 8px 16px 0px 16px;
    border-radius:4px;
    height:26px;
    font-size: 20px;
    color:#ffffff;
    line-height: 26px;
    //padding: 0 5px;
    display:none;
}
.cms-label-txt{
    background: #c13b38;
    border-radius: 4px;
    height: 26px;
    line-height: 26px;
    padding: 0 5px;
    display:none;
}