#if($content&&$content.size()==1)
    #set($submodule1=$content.get(0))
    #if($submodule1 && $submodule1.size() > 0)
	<div class="about-goods box cms-module-fillprice">
		#if($!{cms_module_title}&&$!{cms_module_title}!="")
		<div class="about-goodsl1">
			$!{cms_module_title}
		</div>
		#end
		<ul class="about-goodsl2">
			#foreach($item in $submodule1)
			<li class="cms-src-item" data-cms-itemid="$!{item.get("itemId")}">
			    <a href="$!{item.get('h5link')}">
				<div class="about-goodsl2r1">
				    #if($!{item.get('extImgUrl')} && $!{item.get('extImgUrl')} != "")
				        #set($temUrl = $!{item.get('extImgUrl')})
				    #else
				        #set($temUrl = $!{item.get('imgUrl')})
				    #end
					<img class="lazyload" data-echo="$!{temUrl}?imageView2/0/w/750" src="http://imgcms.yit.com/h5/images/spacer.gif" alt="">
					<div class="mask-pa cms-fill-soldout" style="display:none;"><span class="v-center">已售罄</span></div>
				</div>

				<div class="about-goodsl2r2">
					<div class="about-goodsl201">
						<div class="ellipsis">$!{item.get('name')}</div>
						<div class="ellipsis">$!{item.get('secondTitle')}</div>
						<p class="ellipsis2">$!{item.get('subName')}</p>
					</div>
					<div class="about-goodsl202">
						<div class="about-goodsl202-price">					
							<!--<div class="del-line cms-fill-referencepriceparent"><em class="del-yen">¥</em><span class="del-price cms-fill-referenceprice"></span></div>-->
							<div class="about-goodsl202-yen"><em class="yen">¥</em><span class="price cms-fill-price"></span></div>
							<div class="del-line cms-fill-referencepriceparent">
	                            <em class="del-yen">¥</em>
	                            <span class="del-price cms-fill-referenceprice"></span>
	                         </div> 
						</div>
						<div class="about-goodsl202-btn">
						    <div class="cms-buy-btn cms-fill-soldout" style="display:none;"></div>
							<a href="$!{item.get('h5link')}" class=""></a>
						</div>
					</div>
					<div class="cms-label"><span class="cms-label-txt"></span></div>
				</div>
				</a>
			</li>
			#end
		</ul>
	</div>
	#end
#end