#if($content&&$content.size()==1)
    #set($submodule1=$content.get(0))
    #if($submodule1 && $submodule1.size() > 0)
        #foreach($item in $submodule1)
        <div class="cms-picword" style="background: #fff;">
           <a href="$!{item.get('h5link')}">
               <img class="banner" data-echo="$!{item.get('imgUrl')}?imageView2/0/w/750" src="http://imgcms.yit.com/h5/images/spacer.gif" alt="">
               <div class="sdescription">
                 $!{item.get('name')}
               </div>
               <div class="fcont">
                 $!{item.get('subName')}
               </div>
               </a>
        </div>
        #end
    #end
#end