#if($content&&$content.size()==1)
    #set($submodule1=$content.get(0))
    #if($submodule1 && $submodule1.size() > 0)
     <div class="cms-single" style="
    background: #fff;">
        #if($!{cms_module_title}&&$!{cms_module_title}!="")
                <div class="title">
                    <h2>$!{cms_module_title}</h2>
                </div>
                <span class="span"></span>
        #end
        <div class="cms-module-fillprice">
        #foreach($item in $submodule1)
        <div class="cms-single cms-src-item" data-cms-itemid="$!{item.get("itemId")}">
           
           <a href="$!{item.get('h5link')}">
               <img class="banner" data-echo="$!{item.get('imgUrl')}" src="http://imgcms.yit.com/h5/images/spacer.gif" alt="">
               <div class="mask-pa cms-fill-soldout" style="display:none;"><span class="v-center">已售罄</span></div>
           </a>
           <div class="name ellipsis">$!{item.get('name')}</div>
           <div class="description ellipsis">$!{item.get('subName')}</div>
           <div class="price">
                <div class="real">
                    ¥<span class="rprice cms-fill-price"></span>
                </div>
                <div class="origin cms-fill-referencepriceparent">
                    ¥<span class="oprice cms-fill-referenceprice"></span>
                </div>
           </div>
        </div>
        #end
        </div> 
      </div>
    #end
#end