#if($content&&$content.size()==2)
    #set($submodule1=$content.get(0))
    #set($submodule2=$content.get(1))
    #if($submodule1 && $submodule1.size() > 0)
    <div class="cms-two cms-module-fillprice">
        #if($!{cms_module_title}&&$!{cms_module_title}!="")
        <div class="title">$!{cms_module_title}</div>
        #end
        <ul>
            #foreach($item in $submodule1)
            <li class="cms-src-item" data-cms-itemid="$!{item.get("itemId")}">
                <a href='$!{item.get("h5link")}'>
                <div style="position:relative;margin-bottom:16px;">
                    <img class="lazyload" data-echo="$!{item.get('imgUrl')}?imageView2/0/w/360" src="http://imgcms.yit.com/h5/images/spacer.gif" alt="">
                    <div class="mask-pa cms-fill-soldout cms-buy-btn" style="display:none;"><span class="v-center">已售罄</span></div>
                </div>
                <div class="name ellipsis">$!{item.get("name")}</div>
                <div class="name ellipsis">$!{item.get("secondTitle")}</div>
                <div class="subname ellipsis2">$!{item.get("subName")}</div>
                <div class="rprice">
                    ¥<span class="cms-fill-price"></span>
                    <div class="origin cms-fill-referencepriceparent">
                        ¥<span class="oprice cms-fill-referenceprice"></span>
                    </div>
                 </div>
                <div class="cms-label two"><span class="cms-label-txt"></span></div>
                </a>
            </li>
            #end
        </ul>
        #if($submodule2 && $submodule2.size() > 0)
        #set($t2 = $submodule2.get(0))
        <a href="$!{t2.get("h5link")}">
        <div class="more1">
            <span>$!{t2.get("name")}</span>
            <span class="more-icon"></span>
        </div>
        </a>
        #end
    </div>
    #end
#end